.filmes_series{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5E0303;
    font-family: Inter;
    color: white;
    width: 300px;
    height: 300px;
    margin-bottom: 5px;
}
